.sun-rise.rise{
  background-color:#e5a119;
}

.sun-rise.set{
  background-color:#d86222;
}

.sun-rise p{
  padding-top: 15px;
  padding-bottom: 15px;
  color:#fff;
  font-size: 35px;
  text-align: center;
}
